<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="E_Okul_Benzeri_Uygulama.Properties.Settings.E_OkulBenzeriUygulamaProjesiConnectionString"
            connectionString="Data Source=LAPTOP-6F9FDI24\MSSQLSERVER01;Initial Catalog=E-OkulBenzeriUygulamaProjesi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>